<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-rectangle1"></div>
    <header data-role="Accordion" class="component-header">
      <img
        alt="logo"
        src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
        class="component-image"
      />
      <div class="component-separator"></div>
      <nav class="component-nav">
        <nav class="navigation-links-nav navigation-links-root-class-name19">
          <span class="navigation-links-text"><span>About</span></span>
          <span class="navigation-links-text1"><span>Features</span></span>
          <span class="navigation-links-text2"><span>Pricing</span></span>
          <span class="navigation-links-text3"><span>Team</span></span>
          <span class="navigation-links-text4"><span>Blog</span></span>
        </nav>
      </nav>
      <div data-role="AccordionHeader" class="component-accordion-header">
        <svg viewBox="0 0 1024 1024" class="component-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-role="AccordionContent" class="component-accordion-content">
        <div class="component-nav1">
          <nav class="navigation-links-nav navigation-links-root-class-name20">
            <span class="navigation-links-text"><span>About</span></span>
            <span class="navigation-links-text1"><span>Features</span></span>
            <span class="navigation-links-text2"><span>Pricing</span></span>
            <span class="navigation-links-text3"><span>Team</span></span>
            <span class="navigation-links-text4"><span>Blog</span></span>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
