.irrigaosol-testimonial-card {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  max-height: 202px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-radius: 16px;
  flex-direction: row;
  padding-bottom: 28px;
  justify-content: space-between;
}
.irrigaosol-testimonial {
  width: 153px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.irrigaosol-image {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.irrigaosol-text {
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
  font-weight: 600;
  line-height: 2;
}
.irrigaosol-testimonial1 {
  width: 133px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.irrigaosol-image1 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.irrigaosol-text1 {
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
  font-weight: 600;
  line-height: 2;
}
.irrigaosol-root-class-name {
  width: 100%;
  align-self: flex-start;
}
.irrigaosol-root-class-name1 {
  align-self: flex-start;
}
.irrigaosol-root-class-name2 {
  align-self: flex-start;
}
.irrigaosol-root-class-name3 {
  width: 100%;
  margin: 8px;
  max-width: auto;
  align-self: flex-start;
}
.irrigaosol-root-class-name4 {
  align-self: flex-start;
}
.irrigaosol-root-class-name5 {
  width: 100%;
  max-width: auto;
  align-self: flex-start;
}

.irrigaosol-root-class-name7 {
  width: 100%;
  height: 100%;
}
.irrigaosol-root-class-name8 {
  width: 100%;
  height: 100%;
}
.irrigaosol-root-class-name9 {
  width: 100%;
  height: 100%;
}
.irrigaosol-root-class-name10 {
  width: 100%;
  height: 100%;
}
@media(max-width: 1200px) {
  .irrigaosol-testimonial-card {
    width: auto;
    height: auto;
    margin: var(--dl-space-space-halfunit);
    padding: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .irrigaosol-testimonial {
    width: 211px;
  }
  .irrigaosol-image {
    width: 151px;
    height: 154px;
    align-self: center;
  }
  .irrigaosol-testimonial1 {
    width: 211px;
  }
  .irrigaosol-image1 {
    width: 151px;
    height: 154px;
    align-self: center;
  }
}
@media(max-width: 767px) {
  .irrigaosol-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .irrigaosol-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .irrigaosol-testimonial1 {
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .irrigaosol-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .irrigaosol-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .irrigaosol-testimonial1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
