<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <img
      alt="Rectangle5I213"
      src="public/external/rectangle5i213-0fj-200h.png"
      class="component1-rectangle5"
    />
    <img
      alt="Rectangle6I213"
      src="public/external/rectangle6i213-00hr-200h.png"
      class="component1-rectangle6"
    />
    <img
      alt="Rectangle7I213"
      src="public/external/rectangle7i213-vw2-200h.png"
      class="component1-rectangle7"
    />
    <img
      alt="Rectangle8I213"
      src="public/external/rectangle8i213-3isp-200h.png"
      class="component1-rectangle8"
    />
    <img
      alt="Rectangle9I213"
      src="public/external/rectangle9i213-5i7-200h.png"
      class="component1-rectangle9"
    />
    <img
      alt="Rectangle10I213"
      src="public/external/rectangle10i213-54w-200h.png"
      class="component1-rectangle10"
    />
    <img
      alt="Rectangle11I213"
      src="public/external/rectangle11i213-yxtx-200h.png"
      class="component1-rectangle11"
    />
    <img
      alt="Rectangle12I213"
      src="public/external/rectangle12i213-mc3ya-200h.png"
      class="component1-rectangle12"
    />
  </div>
</div>
