<div>
  <link href="./group21.css" rel="stylesheet" />
  <div class="group21-group2">
    <img
      alt="Rectangle11098"
      src="public/external/rectangle11098-0j9-400h.png"
      class="group21-rectangle1"
    />
    <img
      alt="Rectangle61098"
      src="public/external/rectangle61098-tai-200h.png"
      class="group21-rectangle6"
    />
    <img
      alt="Rectangle81098"
      src="public/external/rectangle81098-mg8-200h.png"
      class="group21-rectangle8"
    />
    <img
      alt="Rectangle41099"
      src="public/external/rectangle41099-1qq-300h.png"
      class="group21-rectangle4"
    />
    <img
      alt="Rectangle51099"
      src="public/external/rectangle51099-vnja-300h.png"
      class="group21-rectangle5"
    />
  </div>
</div>
