<div>
  <link href="./group23.css" rel="stylesheet" />
  <div class="group23-group2">
    <img
      alt="Rectangle11091"
      src="public/external/rectangle11091-d1ie-400h.png"
      class="group23-rectangle1"
    />
    <img
      alt="Rectangle61091"
      src="public/external/rectangle61091-pcwk-200h.png"
      class="group23-rectangle6"
    />
    <img
      alt="Rectangle81091"
      src="public/external/rectangle81091-44si-200h.png"
      class="group23-rectangle8"
    />
    <img
      alt="Rectangle41091"
      src="public/external/rectangle41091-x9c-300h.png"
      class="group23-rectangle4"
    />
    <div class="group23-rectangle5">
      <div class="group23-group1">
        <img
          alt="Rectangle51091"
          src="public/external/rectangle51091-sos0o-200h.png"
          class="group23-rectangle51"
        />
        <img
          alt="Rectangle61091"
          src="public/external/rectangle61091-rmv-200h.png"
          class="group23-rectangle61"
        />
        <img
          alt="Rectangle71091"
          src="public/external/rectangle71091-4ck-200h.png"
          class="group23-rectangle7"
        />
        <img
          alt="Rectangle81091"
          src="public/external/rectangle81091-k2k-200h.png"
          class="group23-rectangle81"
        />
        <img
          alt="Rectangle91091"
          src="public/external/rectangle91091-yw3p-200h.png"
          class="group23-rectangle9"
        />
        <img
          alt="Rectangle101091"
          src="public/external/rectangle101091-2dco-200h.png"
          class="group23-rectangle10"
        />
        <img
          alt="Rectangle111091"
          src="public/external/rectangle111091-ajbm-200h.png"
          class="group23-rectangle11"
        />
        <img
          alt="Rectangle121091"
          src="public/external/rectangle121091-b37c-200h.png"
          class="group23-rectangle12"
        />
      </div>
    </div>
  </div>
</div>
