<div>
  <link href="./group22.css" rel="stylesheet" />
  <div class="group22-group2">
    <img
      alt="Rectangle11022"
      src="public/external/rectangle11022-bpzn-400h.png"
      class="group22-rectangle1"
    />
    <img
      alt="Rectangle61022"
      src="public/external/rectangle61022-6pb-200h.png"
      class="group22-rectangle6"
    />
    <img
      alt="Rectangle81023"
      src="public/external/rectangle81023-ch7f-200h.png"
      class="group22-rectangle8"
    />
    <img
      alt="Rectangle41022"
      src="public/external/rectangle41022-w8q-300h.png"
      class="group22-rectangle4"
    />
    <div class="group22-rectangle5">
      <img
        alt="Rectangle51091"
        src="public/external/rectangle51091-76pq-200h.png"
        class="group22-rectangle51"
      />
      <img
        alt="Rectangle61091"
        src="public/external/rectangle61091-1e1e-200h.png"
        class="group22-rectangle61"
      />
      <img
        alt="Rectangle71091"
        src="public/external/rectangle71091-u2am-200h.png"
        class="group22-rectangle7"
      />
      <img
        alt="Rectangle81091"
        src="public/external/rectangle81091-pmrk-200h.png"
        class="group22-rectangle81"
      />
      <img
        alt="Rectangle91091"
        src="public/external/rectangle91091-qy7-200h.png"
        class="group22-rectangle9"
      />
      <img
        alt="Rectangle101091"
        src="public/external/rectangle101091-cln2-200h.png"
        class="group22-rectangle10"
      />
      <img
        alt="Rectangle111091"
        src="public/external/rectangle111091-k74pi-200h.png"
        class="group22-rectangle11"
      />
      <img
        alt="Rectangle121091"
        src="public/external/rectangle121091-hneh-200h.png"
        class="group22-rectangle12"
      />
    </div>
  </div>
</div>
