<div>
  <link href="./group2.css" rel="stylesheet" />
  <div class="group2-group2">
    <img
      alt="Rectangle11095"
      src="public/external/rectangle11095-yqz-400h.png"
      class="group2-rectangle1"
    />
    <img
      alt="Rectangle61096"
      src="public/external/rectangle61096-00nl-200h.png"
      class="group2-rectangle6"
    />
    <img
      alt="Rectangle81096"
      src="public/external/rectangle81096-w2xb-200h.png"
      class="group2-rectangle8"
    />
    <img
      alt="Rectangle41096"
      src="public/external/rectangle41096-ovp-300h.png"
      class="group2-rectangle4"
    />
    <div class="group2-rectangle5">
      <div class="group2-group1">
        <img
          alt="Rectangle5I213"
          src="public/external/rectangle5i213-gmwg-200h.png"
          class="group2-rectangle51"
        />
        <img
          alt="Rectangle6I213"
          src="public/external/rectangle6i213-zba-200h.png"
          class="group2-rectangle61"
        />
        <img
          alt="Rectangle7I213"
          src="public/external/rectangle7i213-wqx4-200h.png"
          class="group2-rectangle7"
        />
        <img
          alt="Rectangle8I213"
          src="public/external/rectangle8i213-m31q-200h.png"
          class="group2-rectangle81"
        />
        <img
          alt="Rectangle9I213"
          src="public/external/rectangle9i213-5ve9-200h.png"
          class="group2-rectangle9"
        />
        <img
          alt="Rectangle10I213"
          src="public/external/rectangle10i213-5zg-200h.png"
          class="group2-rectangle10"
        />
        <img
          alt="Rectangle11I213"
          src="public/external/rectangle11i213-cv34-200h.png"
          class="group2-rectangle11"
        />
        <img
          alt="Rectangle12I213"
          src="public/external/rectangle12i213-fgd6-200h.png"
          class="group2-rectangle12"
        />
      </div>
    </div>
  </div>
</div>
