{% extends 'base.html' %}
{% block title %}<title>{{ especie.nome }}</title>{% endblock %}
{% block main %}
      <main class="homepage-container">
        <div class="homepage-galleryplanta">
          <div class="homepage-containercentralplanta">
            <div class="homepage-containerimagemdetalhes">
              <div class="homepage-imagem">
                <div
                  class="imagemplanta-gallery-card imagemplanta-root-class-name1"
                >
                <img alt="Imagem da Espécie" src="{{ especie.imagem_especie.url }}" class="imagemplanta-image" id="imagem-especie">
                <img alt="Imagem da Fruta" src="{{ especie.imagem_fruta.url }}" class="imagemplanta-image" id="imagem-fruta" style="display: none;">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function() {
                        $('#imagem-especie').click(function() {
                            $('#imagem-especie').hide();
                            $('#imagem-fruta').show();
                        });
                
                        $('#imagem-fruta').click(function() {
                            $('#imagem-fruta').hide();
                            $('#imagem-especie').show();
                        });
                    });
                </script>
                </div>
              </div>
              <div class="homepage-detalhes">
                <div
                  class="detalhes-testimonial-card detalhes-root-class-name3"
                >
                  <span class="detalhes-text">
                  <span>Nome: {{ especie.nome }}</span><br></br>
                  <span>Nome Cientifico: {{ especie.nome_cientifico }}</span>
                  </span>
                  <!--span class="detalhes-text2"><span>{{ especie.detalhes }}</span></span> --> 
                </div>
              </div>
            </div>
            <div class="homepage-mineraisgaleria">
              
              <div class="homepage-galleryminerais">
                
                {% for mineral in minerais %}
                <div class="mineralcard-gallery-card mineralcard-root-class-name15">
                  <img src="{{ mineral.mineral.icon_mineral.url }}" class="mineralcard-image" alt={{ mineral.mineral.nome }} title={{mineral.mineral.nome }}   />
                  <h10 class="mineralcard-text">
                    <span>{{ mineral.quantidade }}</span>
                  </h10>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
          <div class="homepage-containerplantassoloestacao">
            <div class="homepage-containersolirrigacaoestacao">
              <div class="homepage-containerestacao">
                <div
                  class="estacaoproducao-testimonial-card estacaoproducao-root-class-name8"
                >
                  <img
                    alt="{{ especie.estacao_producao.nome }}"
                    src={{ especie.estacao_producao.icon_estacao.url }}
                    class="estacaoproducao-image"
                  />
                  <div class="estacaoproducao-testimonial">
                    <span class="estacaoproducao-text"><span>{{ especie.estacao_producao }}</span></span>
                  </div>
                </div>
              </div>
              <div class="homepage-containerirrigacaosol">
                <div
                  class="irrigaosol-testimonial-card irrigaosol-root-class-name8"
                >
                  <div class="irrigaosol-testimonial">
                    <img
                      alt="profile"
                      src={{ especie.irrigacao.icon_irrigacao.url }}
                      class="irrigaosol-image"
                    />
                    <span class="irrigaosol-text"><span>{{ especie.irrigacao }}</span></span>
                  </div>
                  <div class="irrigaosol-testimonial1">
                    <img
                      alt="profile"
                      src={{ especie.exposicao_solar.icon_exposicaosolar.url }}
                      class="irrigaosol-image1"
                    />
                    <span class="irrigaosol-text1"><span>{{ especie.exposicao_solar }}</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="solo-testimonial-card solo-root-class-name5">
              <div class="solo-testimonial">
                <img
                  alt="profile"
                  src={{ especie.acidez_solo.icon_PH.url }}
                  class="solo-image"
                />
                <span class="solo-text col-6"><span> PH - {{ especie.acidez_solo }}</span></span>
              </div>
              <div class="solo-testimonial1">
                <img
                  alt="profile"
                  src={{ especie.necessidade_solo.icon_solo.url }}
                  class="solo-image1"
                />
                <span class="solo-text1 col-6"><span>Solo - {{ especie.necessidade_solo }}</span></span>
              </div>
            </div>
          </div>
        </div>
      </main>
      {% endblock %}
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>

