{% extends 'base.html' %}
{% block title %}<title>Cadastrar Espécie</title>{% endblock %}
{% block main %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" data-tag="font"/>
      <main class="homepage-container">
        <div class="homepage-formulariopagina">
          <div class="homepage-formulario">
            <pre>
            </pre>
            <pre>
            </pre>
            <pre>
            </pre>
            <form class="homepage-form alert alert-info " method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                         
              
              <!-- Form Name -->
              <legend>Cadastrar espécie</legend>
              
              <!-- Text input-->
              <div class="form-group row">
                <div class="col-md-6">
                
                <input id="id_nome" name="nome" type="text"  placeholder="Nome Popular" class="form-control input-md" required="">
                </div>  
              
                <!-- Text input-->
               
                <div class="col-md-6">
                <input id="id_nome_cientifico" name="nome_cientifico" type="text" placeholder="Nome Cientifico" class="form-control input-md h1" required="">
               
              </div>
              </div>
              <pre></pre>
              <!-- File Button --> 
              <div class="form-group row">
                
                <div class="col-md-6">
                  <label class="col-md-6 control-label " for="FOTO_FRUTO">Foto Fruto</label>
                 
                  <input id="id_imagem_fruta" name="imagem_fruta" class="col-md-4 input-file form-control input-md" type="file">
                </div>
             
              
                
                <div class="col-md-6">
                  <label class="col-md-6 control-label " for="Imagem">Foto espécie</label>
                  
                  <input id="id_imagem_especie" name="imagem_especie" class="col-md-4 input-file form-control input-md" type="file">
                </div>
              </div>
              <pre> </pre>
              <!-- Select Basic -->
              <div class="form-group row">
                <label class="col-md-6 control-label" for="Acidez_solo">Acidez do solo</label>
                <div class="col-md-6">
                  <select id="id_acidez_solo" name="acidez_solo" class="form-control">
                    {% for PH in phs %}
                    <option value="{{ PH.id }}">{{ PH.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
              
                <pre> </pre>
              <!-- Select Basic -->
              
                <label class="col-md-6 control-label" for="necessidade_solo">Tipo de Solo</label>
                <div class="col-md-6">
                  <select id="id_necessidade_solo" name="necessidade_solo" class="form-control">
                    {% for Solo in solos %}
                    <option value="{{ Solo.id }}">{{ Solo.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <pre> </pre>
              
              <!-- Select Basic -->
              <div class="form-group row">
                <label class="col-md-6 control-label" for="estacao_producao">estações de produção</label>
                <div class="col-md-6">
                  <select id="id_estacao_producao" name="estacao_producao" class="form-control">
                    {% for estacao in estacoes %}
                    <option value="{{ estacao.id }}">{{ estacao.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
              
                <pre> </pre>
              <!-- Select Basic -->
              
                <label class="col-md-6 control-label" for="exposicao_solar">Exposção Solar</label>
                <div class="col-md-6">
                  <select id="id_exposicao_solar" name="exposicao_solar" class="form-control">
                    {% for ExposicaoSolar in exposicaoSolar %}
                    <option value="{{ ExposicaoSolar.id }}">{{ ExposicaoSolar.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <pre> </pre>
              <!-- Select Basic -->
              <div class="form-group row">
                <label class="col-md-6 control-label" for="irrigacao">Irrigação</label>
                <div class="col-md-6">
                  <select id="id_irrigacao" name="irrigacao" class="form-control">
                    {% for Irrigacao in irrigacoes %}
                    <option value="{{ Irrigacao.id }}">{{ Irrigacao.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
              
              
              <pre> </pre>
                <label class="col-md-4 row-md-6 control-label" for="Registrar"></label>
                <div class="col-md-4 row-md-6">
                  <button id="Registrar" name="Registrar" type="submit" class="btn btn-primary">Registrar</button>
                </div>
              </div>
              
              
            
              </form>
          </div>  
        </div>
      </main>
      {% endblock %}

