{% extends 'base.html' %}
{% block title %}<title>Cadastrar Minerais</title>{% endblock %}
{% block main %}
      <main class="homepage-container">
        <div class="homepage-formulariopagina">
          <div class="homepage-formulario">
            <pre>
            </pre>
            <pre>
            </pre>
            <form class="homepage-form alert alert-info" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                         
              
              <!-- Form Name -->
              <legend>Cadastrar espécie</legend>
              
              <!-- Text input-->
              <div class="form-group row">
                             
                <pre> </pre>
              <!-- Select Basic -->
              
                <label class="col-md-6 control-label" for="especie">Exposção Solar</label>
                <div class="col-md-6">
                  <select id="id_especie" name="especie" class="form-control">
                    {% for Especies in especies %}
                    <option value="{{ Especies.id }}">{{ Especies.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <pre> </pre>
              <!-- Select Basic -->
              <div class="form-group row">
                <label class="col-md-6 control-label" for="mineral">Mineral</label>
                <div class="col-md-6">
                  <select id="id_mineral" name="mineral" class="form-control">
                    {% for Minerais in minerais %}
                    <option value="{{ Minerais.id }}">{{ Minerais.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
                <pre> </pre>
              <div class="form-group row">
                <label class="col-md-6 control-label" for="quantidade">Quantidade em mg</label>
                <div class="col-md-6">
                <input id="id_quantidade" name="quantidade" type="text"  placeholder="Quantidade em mg" class="form-control input-md" required="">
                </div>
              </div>
                <div class="form-group row">
                 <pre>
                 </pre>
                  <label class="col-md-10 control-label" for="Registrar"></label>
                  <div class="col-md-5">
                    <button id="Registrar" name="Registrar" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
              </div>
              
              
            
              </form>
              
          </div>
        </div>
      </main>{% endblock %}
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
