{% extends 'base.html' %}
{% block title %}<title>{{ especie.nome }}</title>{% endblock %}
{% block main %}
  <div class="homepage-container">
    <div class="header clearfix">
      <nav style="background-color: #2A794A; border-radius:16px; text-color:#0000; padding:10px; margin-top:6px">
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <button id="nav-link-4" onclick="marcarBotao(4)" class="nav-link botao" style="background-color: #2A794A; color:#0D1611;">Status</button>
          </li>
          <li class="nav-item">
            <button id="nav-link-2" onclick="marcarBotao(2)" class="nav-link botao" style="background-color: #2A794A; color:#0D1611;" >Manutenção</button>
          </li>
          <li class="nav-item">
            <button id="nav-link-3" onclick="marcarBotao(3)" class="nav-link botao" style="background-color: #2A794A; color:#0D1611;" >Produção</button>
          </li>
          <li class="nav-item">
            <button id="nav-link-1" onclick="marcarBotao(1)" class="nav-link botao" style="background-color: #2A794A; color:#0D1611;" >Info</button>
          </li>
        </ul>
      </nav>
    </div>
    <div id="status-div" name='status' class="homepage-galleryplanta additional-div hide" style="display: none;">
      <div class="homepage-containercentralplanta">
        <div class="homepage-containerimagemdetalhes">
          <div class="homepage-imagem">
            <div
              class="imagemplanta-gallery-card imagemplanta-root-class-name1"
            >
            <img alt="Imagem da Espécie" src="{{ especie.imagem_especie.url }}" class="imagemplanta-image" id="imagem-especie">
            <img alt="Imagem da Fruta" src="{{ especie.imagem_fruta.url }}" class="imagemplanta-image" id="imagem-fruta" style="display: none;">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('#imagem-especie').click(function() {
                        $('#imagem-especie').hide();
                        $('#imagem-fruta').show();
                    });
            
                    $('#imagem-fruta').click(function() {
                        $('#imagem-fruta').hide();
                        $('#imagem-especie').show();
                    });
                });
            </script>
            </div>
          </div>
          <div class="homepage-detalhes">
            <div
              class="detalhes-testimonial-card detalhes-root-class-name3"
            >
              <span class="detalhes-text">
              <span>Nome: {{ especie.nome }}</span><br></br>
              <span>Nome Cientifico: {{ especie.nome_cientifico }}</span>
              </span>
              <!--span class="detalhes-text2"><span>{{ especie.detalhes }}</span></span> --> 
            </div>
          </div>
        </div>
        <div class="homepage-mineraisgaleria">
          
          <div class="homepage-galleryminerais">
            
            {% for mineral in minerais %}
            <div class="mineralcard-gallery-card mineralcard-root-class-name15">
              <img src="{{ mineral.mineral.icon_mineral.url }}" class="mineralcard-image" alt={{ mineral.mineral.nome }} title={{mineral.mineral.nome }}   />
              <h10 class="mineralcard-text">
                <span>{{ mineral.quantidade }}</span>
              </h10>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="homepage-containerplantassoloestacao">
        <div class="homepage-containersolirrigacaoestacao">
          <div class="homepage-containerestacao">
            <div
              class="estacaoproducao-testimonial-card estacaoproducao-root-class-name8"
            >
              <img
                alt="{{ planta.estacao_producao.nome }}"
                src={{ planta.estacao_producao.icon_estacao.url }}
                class="estacaoproducao-image"
              />
              <div class="estacaoproducao-testimonial">
                <span class="estacaoproducao-text"><span>{{ planta.estacao_producao }}</span></span>
              </div>
            </div>
          </div>
          <div class="homepage-containerirrigacaosol">
            <div
              class="irrigaosol-testimonial-card irrigaosol-root-class-name8"
            >
              <div class="irrigaosol-testimonial">
                <img
                  alt="profile"
                  src={{ planta.irrigacao.icon_irrigacao.url }}
                  class="irrigaosol-image"
                />
                <span class="irrigaosol-text"><span>{{ planta.irrigacao }}</span></span>
              </div>
              <div class="irrigaosol-testimonial1">
                <img
                  alt="profile"
                  class="irrigaosol-image1"
                  src={{ planta.exposicao_solar_atual.icon_exposicaosolar.url}}/>
                <span class="irrigaosol-text1"><span>{{ planta.exposicao_solar_atual }}</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="solo-testimonial-card solo-root-class-name5">
          <div class="solo-testimonial">
            <img
              alt="profile"
              src={{ planta.acidez_solo.icon_PH.url }}
              class="solo-image"
            />
            <span class="solo-text col-6"><span> PH - {{ planta.acidez_solo }}</span></span>
          </div>
          <div class="solo-testimonial1">
            <img
              alt="profile"
              src={{ planta.solo.icon_solo.url }}
              class="solo-image1"
            />
            <span class="solo-text1 col-6"><span>Solo - {{ planta.solo }}</span></span>
          </div>
        </div>
      </div>
    </div>   
    <div id="info-div" name='info' class="homepage-galleryplanta additional-div hide " style="display: none;">
      <div class="homepage-containercentralplanta">
        <div class="homepage-containerimagemdetalhes">
          <div class="homepage-imagem">
            <div
              class="imagemplanta-gallery-card imagemplanta-root-class-name1"
            >
            <img alt="Imagem da Espécie" src="{{ especie.imagem_especie.url }}" class="imagemplanta-image" id="imagem-especie1">
            <img alt="Imagem da Fruta" src="{{ especie.imagem_fruta.url }}" class="imagemplanta-image" id="imagem-fruta1" style="display: none;">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('#imagem-especie1').click(function() {
                        $('#imagem-especie1').hide();
                        $('#imagem-fruta1').show();
                    });
            
                    $('#imagem-fruta1').click(function() {
                        $('#imagem-fruta1').hide();
                        $('#imagem-especie1').show();
                    });
                });
            </script>
            </div>
          </div>
          <div class="homepage-detalhes">
            <div
              class="detalhes-testimonial-card detalhes-root-class-name3"
            >
              <span class="detalhes-text">
              <span>Nome: {{ especie.nome }}</span><br></br>
              <span>Nome Cientifico: {{ especie.nome_cientifico }}</span>
              </span>
              <!--span class="detalhes-text2"><span>{{ especie.detalhes }}</span></span> --> 
            </div>
          </div>
        </div>
        <div class="homepage-mineraisgaleria">
          
          <div class="homepage-galleryminerais">
            
            {% for mineral in minerais %}
            <div class="mineralcard-gallery-card mineralcard-root-class-name15">
              <img src="{{ mineral.mineral.icon_mineral.url }}" class="mineralcard-image" alt={{ mineral.mineral.nome }} title={{mineral.mineral.nome }}   />
              <h10 class="mineralcard-text">
                <span>{{ mineral.quantidade }}</span>
              </h10>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="homepage-containerplantassoloestacao">
        <div class="homepage-containersolirrigacaoestacao">
          <div class="homepage-containerestacao">
            <div
              class="estacaoproducao-testimonial-card estacaoproducao-root-class-name8"
            >
              <img
                alt="{{ especie.estacao_producao.nome }}"
                src={{ especie.estacao_producao.icon_estacao.url }}
                class="estacaoproducao-image"
              />
              <div class="estacaoproducao-testimonial">
                <span class="estacaoproducao-text"><span>{{ especie.estacao_producao }}</span></span>
              </div>
            </div>
          </div>
          <div class="homepage-containerirrigacaosol">
            <div
              class="irrigaosol-testimonial-card irrigaosol-root-class-name8"
            >
              <div class="irrigaosol-testimonial">
                <img
                  alt="profile"
                  src={{ especie.irrigacao.icon_irrigacao.url }}
                  class="irrigaosol-image"
                />
                <span class="irrigaosol-text"><span>{{ especie.irrigacao }}</span></span>
              </div>
              <div class="irrigaosol-testimonial1">
                <img
                  alt="profile"
                  src={{ especie.exposicao_solar.icon_exposicaosolar.url }}
                  class="irrigaosol-image1"
                />
                <span class="irrigaosol-text1"><span>{{ especie.exposicao_solar }}</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="solo-testimonial-card solo-root-class-name5">
          <div class="solo-testimonial">
            <img
              alt="profile"
              src={{ especie.acidez_solo.icon_PH.url }}
              class="solo-image"
            />
            <span class="solo-text col-6"><span> PH - {{ especie.acidez_solo }}</span></span>
          </div>
          <div class="solo-testimonial1">
            <img
              alt="profile"
              src={{ especie.necessidade_solo.icon_solo.url }}
              class="solo-image1"
            />
            <span class="solo-text1 col-6"><span>Solo - {{ especie.necessidade_solo }}</span></span>
          </div>
        </div>
      </div>
    </div>
    <div id="manutencao-div" name='manutencao' class="manutencao-container additional-div hide" style="display: none;">
      <div data-thq="thq-navbar-nav" data-role="Nav" class="manutencao-planta">
        <div class="manutencao-testimonial">
          <div class="manutencao-container3">
            <div class="manutencao-container4">
              <div class="manutencao-container5">
                <div
                  class="cadastrar-manutencao-testimonial-card cadastrar-manutencao-root-class-name"
                >
                  <h1 class="cadastrar-manutencao-text">
                    <span>Atualizar</span>
                  </h1>
                  <div class="cadastrar-manutencao-container">
                    <div class="cadastrar-manutencao-container1">
                      <div class="cadastrar-manutencao-main-testimonial">
                        <label class="cadastrar-manutencao-text1">
                          <span>Data da última fertilização</span>
                        </label>
                        <input
                          type="date"
                          name="dt_ultima_fertilizacao"
                          placeholder="Selecione a data"
                          class="input"
                        />
                        
                        <label class="cadastrar-manutencao-text1">
                          <span>Data da última medição de pH</span>
                        </label>
                        <input
                          type="date"
                          name="ultima_medicao_ph"
                          placeholder="Selecione a data"
                          class="input"
                        />
                        
                        <label class="cadastrar-manutencao-text1">
                          <span>Data de plantio</span>
                        </label>
                        <input
                          type="date"
                          name="dt_plantio"
                          placeholder="Selecione a data"
                          class="input"
                        />
                        
                        <label class="cadastrar-manutencao-text1">
                          <span>Data da última poda</span>
                        </label>
                        <input
                          type="date"
                          name="dt_ultima_poda"
                          placeholder="Selecione a data"
                          class="input"
                        />
                      </div>
                      <div class="cadastrar-manutencao-main-testimonial1">
                        <div class="cadastrar-manutencao-testimonial3">
                          <label class="cadastrar-manutencao-text4">
                            <span>Exposicao Solar</span>
                          </label>
                          <select id="id_exposicao_solar_atual" name="exposicao_solar" class="form-control">
                            <option value=""></option>
                            {% for ExposicaoSolar in exposicaoSolar %}
                            <option value="{{ ExposicaoSolar.id }}">{{ ExposicaoSolar.nome }}</option>
                            {% endfor %}
                          </select>
                        </div>
            
                        
                        <div class="cadastrar-manutencao-testimonial4">
                          <label class="cadastrar-manutencao-text5">
                            <span>Solo Atual</span>
                          </label>
                          <select id="id_necessidade_solo" name="necessidade_solo" class="form-control">
                            <option value=""></option>
                            {% for Solo in solos %}
                            <option value="{{ Solo.id }}">{{ Solo.nome }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="cadastrar-manutencao-testimonial5">
                          <label class="cadastrar-manutencao-text6">
                            <span>Ph</span>
                          </label>
                          <select id="id_ultimo_ph" name="acidez_solo" class="form-control">
                            <option value=""></option>
                            {% for PH in phs %}
                            <option value="{{ PH.id }}">{{ PH.nome }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <pre> </pre>
                        <label class="col-md-4 row-md-6 control-label" for="Registrar"></label>
                <div class="col-md-4 row-md-6">
                  <button id="Registrar" name="Registrar" type="submit" class="btn btn-primary">Registrar</button>
                </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="ultima-manutencao-testimonial-card ultima-manutencao-root-class-name2"
              >
                <h1 class="ultima-manutencao-text"><span>Heading</span></h1>
                <div class="ultima-manutencao-ultman">
                  <div class="ultima-manutencao-side1">
                    <div class="ultima-manutencao-testimonial">
                      <span class="ultima-manutencao-text01">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text02">
                        <span>date</span>
                      </span>
                    </div>
                    <div class="ultima-manutencao-testimonial1">
                      <span class="ultima-manutencao-text03">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text04">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. In lorem lorem, malesuada in metus vitae,
                          scelerisque accumsan ipsum.
                        </span>
                      </span>
                    </div>
                    <div class="ultima-manutencao-testimonial2">
                      <span class="ultima-manutencao-text05">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text06">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. In lorem lorem, malesuada in metus vitae,
                          scelerisque accumsan ipsum.
                        </span>
                      </span>
                    </div>
                    <div class="ultima-manutencao-testimonial3">
                      <span class="ultima-manutencao-text07">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text08">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. In lorem lorem, malesuada in metus vitae,
                          scelerisque accumsan ipsum.
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="ultima-manutencao-side2">
                    <div class="ultima-manutencao-testimonial4">
                      <span class="ultima-manutencao-text09">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text10">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. In lorem lorem, malesuada in metus vitae,
                          scelerisque accumsan ipsum.
                        </span>
                      </span>
                    </div>
                    <div class="ultima-manutencao-testimonial5">
                      <span class="ultima-manutencao-text11">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text12">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. In lorem lorem, malesuada in metus vitae,
                          scelerisque accumsan ipsum.
                        </span>
                      </span>
                    </div>
                    <div class="ultima-manutencao-testimonial6">
                      <span class="ultima-manutencao-text13">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text14">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. In lorem lorem, malesuada in metus vitae,
                          scelerisque accumsan ipsum.
                        </span>
                      </span>
                    </div>
                    <div class="ultima-manutencao-testimonial7">
                      <span class="ultima-manutencao-text15">
                        <span>John Doe</span>
                      </span>
                      <span class="ultima-manutencao-text16">
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. In lorem lorem, malesuada in metus vitae,
                          scelerisque accumsan ipsum.
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="manutencao-container6">
              <div
                class="historicomanut-testimonial-card historicomanut-root-class-name"
              >
                <h1 class="historicomanut-text"><span>Heading</span></h1>
                <div class="historicomanut-main-testimonial">
                  <div class="historicomanut-testimonial">
                    <span class="historicomanut-text01">
                      <span>John Doe</span>
                    </span>
                    <span class="historicomanut-text02">
                      <span>date</span>
                    </span>
                  </div>
                  <div class="historicomanut-testimonial1">
                    <span class="historicomanut-text03">
                      <span>John Doe</span>
                    </span>
                    <span class="historicomanut-text04">
                      <span>date</span>
                    </span>
                  </div>
                  <div class="historicomanut-testimonial2">
                    <span class="historicomanut-text05">
                      <span>John Doe</span>
                    </span>
                    <span class="historicomanut-text06">
                      <span>date</span>
                    </span>
                  </div>
                  <div class="historicomanut-testimonial3">
                    <span class="historicomanut-text07">
                      <span>John Doe</span>
                    </span>
                    <span class="historicomanut-text08">
                      <span>date</span>
                    </span>
                  </div>
                  <div class="historicomanut-testimonial4">
                    <span class="historicomanut-text09">
                      <span>John Doe</span>
                    </span>
                    <span class="historicomanut-text10">
                      <span>date</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


      {% endblock %}
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>

