{% extends 'base.html' %}
{% block title %}<title>homepage</title>{% endblock %}
{% block main %}
  <main class="homepage-container">
        <div class="homepage-inicio">
          <div class="homepage-plantas">
            {% for especie in especies %}
            <a href="{% url 'perfil_especie' pk=especie.id %}">
            <div
              class="plantas-card-gallery-card plantas-card-root-class-name1"
            >
              <img
                alt={{ especie.nome }}
                src={{ especie.imagem_especie.url }}
                class="plantas-card-image"
              />
              <h2 class="plantas-card-text"><span>{{ especie.nome }}</span></h2>
              <span class="plantas-card-text1">
                <span>{{ especie.nome_cientifico }}</span>
              </span>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </main>{% endblock %}
  <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
