{% extends 'base.html' %}
{% block title %}<title>Login</title>{% endblock %}
{% block main %}
<main class="homepage-container">
  <div class="homepage-formulariopagina">
    <div class="homepage-formulario">
      <pre>
      </pre>
      <pre>
      </pre>
      <pre>
      </pre>
      <form class="homepage-form alert alert-info " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        
        <!-- Form Name -->
        <legend>Login</legend>
        
        <!-- Text input-->
        <div class="form-group row">
          <div class="col-md-40">
          
          <input id="id_email" name="email" type="text"  placeholder="email" class="form-control input-md" required="">
          </div>  
    
        </div>
        <pre></pre>
        <div class="form-group row">
          <div class="col-md-40">
            <input id="id_password" name="password" type="password" placeholder="password" class="form-control input-md h1" required="">      
            </div>
        </div>
        <pre></pre>

        
        
        <pre> </pre>
          <label class="col-md-4 row-md-6 control-label" for="login"></label>
          <div class="col-md-4 row-md-6">
            <button id="Login" name="login" type="submit" class="btn btn-primary">login</button>
          </div>
        </div>
        
        
      
        </form>
    </div>  
  </div>
</main>{% endblock %}
</html>
